TELEGRAM_BOT_TOKEN=
TELEGRAM_APP_ID=
TELEGRAM_APP_HASH=

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=1
REDIS_TRANSACTION_DB=0
# It should be synced with the `transaction-lookup` service configuration
# TODO move to the `wallet_indexer` service configuration
REDIS_TRANSACTION_STREAM_NAME=noticed_wallets

TC_MANIFEST_URL=https://raw.githubusercontent.com/danoctua/octagate-bot/main/manifest.json
