@import url('@fontsource/inter/index.css');

body {
  font-family: 'Inter', sans-serif;
  background: var(--tg-theme-secondary-bg-color, white);
}

footer.error h6 {
  color: var(--tgui--destructive_text_color)
}