TELEGRAM_API_BASE_URL=https://api.telegram.org/bot
# Webhook configuration
WEBHOOK_SECRET_KEY=
WEBHOOK_URL=
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=433
SSL_CERT_PATH=
SSL_KEY_PATH=
# Bot configuration
LIGHT_MODE=1
IS_ACTIVE=1
ENABLE_CALLBACK_REPLIES=1
TARGET_COMMON_CHAT_ID=
